.card {
  width: 300px;
  min-height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  break-inside: avoid;

  span {
    margin: 1em;
  }

  img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
  }
}
