.container {
  $primary: rgb(94 238 81);

  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  background: #f3f2f2;

  .form-container {
    margin: auto;
  }

  form {
    margin: auto;
    padding: 40px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 300px;

    & > .title {
      display: block;
      font-size: 24px;
      margin-bottom: 20px;
      color: rgb(0 0 0 / 50%);
    }
  }

  .error {
    color: red;
  }

  button {
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: saturate($primary, 30%);
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    box-shadow: 0 2px 6px -1px rgb(0 0 0 / 13%);
    border: none;
    transition: all 0.3s ease;
    outline: none;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 2px 6px -1px rgba($primary, 0.65);

      &:active {
        transform: scale(0.99);
      }
    }
  }
}
