.card {
  width: 300px;

  transition: box-shadow 0.3s;
  border-radius: 10px;

  margin-bottom: 10px;
  break-inside: avoid;

  span {
    margin: 1em;
  }

  img {
    border-radius: 10px;
    max-width: 100%;
  }
}

.card:hover {
  box-shadow: 0 0 20px #babfc2;
}
