.card {
  transition: box-shadow 0.3s;
  border-radius: 10px;

  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;

  span {
    margin: 1em;
  }

  img {
    border-radius: 10px;
    max-width: 100%;
    display: block;

    grid-row: 1 / -1;
    grid-column: 1;
  }
}

.card:hover {
  box-shadow: 0 0 20px #babfc2;
}
