.container {
  $primary: rgb(94, 238, 81);

  height: 100vh;
  width: 100vw;
  margin: 0 0;
  display: flex;
  background: #f3f2f2;

  .form-container {
    margin: auto auto;
  }

  form {
    margin: auto auto;
    padding: 40px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 300px;

    & > .title {
      display: block;
      font-size: 24px;
      margin-bottom: 20px;
      color: rgba(#000, 0.5);
    }
  }

  button {
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: saturate($primary, 30%);
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: none;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 2px 6px -1px rgba($primary, 0.65);
      &:active {
        transform: scale(0.99);
      }
    }
  }

  .floating-label {
    position: relative;
    margin-bottom: 10px;
    width: 100%;

    input {
      width: 100%;
      display: flex;
      font-size: 16px;
      padding: 20px 0;
      height: 56px;
      border: none;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
      background: #fff;
      box-sizing: border-box;
      transition: all 0.3s linear;
      color: #000;

      &:focus {
        border-bottom: solid 1px $primary;
        outline: 0;
        box-shadow: 0 2px 6px -8px rgba($primary, 0.45);
      }
    }
  }
}
